*{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   

}

body{
   
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content{
 
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    overflow: hidden;   
    display: flex;
    justify-content: center;
   align-items: center;
  
}






@media(max-width:1080px){

    .content{

        flex-direction: column-reverse;
 
    }
    
    .content_service{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        padding: 30px;
        box-shadow: 0px 0px 0px black;
        border: 1px black solid;
        
    }
    .img_ser{

        width: 100%;
        border-radius: 0px;
        height: 40%;
        box-shadow: 0px 0px 0px black;
        background-size: cover;
        background-position: center;
    }
    
    .titulo_servicio{

        font-size: 20px;
        padding: 20px;
        transform: translateY(0px);
    
    }

    .descripcion_servicio{

        border: 1px rgb(0, 0, 0) solid;
        width: 80%;
        height: 250px;
        
        justify-content: start;
        align-items: start;
  
        
      
    
    }
    



    
}



@media(max-width:690px){

    .content_service{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 30px;
        box-shadow: 0px 0px 0px black;
        border: 1px black solid;
        border-radius: 0px;
    }

    .content_service{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        padding: 30px;
        box-shadow: 0px 0px 0px black;
        border: 1px black solid;
     
    }
    .img_ser{
        width: 100%;
        border-radius: 0px;
        height: 40%;
    }

    .titulo_servicio{

        font-size: 17px;
        padding: 10px;
        margin: 0%;
    }

    .descripcion_servicio{

        border: 1px rgb(0, 0, 0) solid;
        width: 80%;
        height: 310px;
        margin: 0%;
        justify-content: start;
        align-items: start;
       
        
      
    
    }

}
@media(max-width:480px){


    .dir_ser{

       
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    
    .titulo_servicio{
        font-size: 12px;
    }
    .descripcion_servicio{
        font-size: 9px;
    }
}




.navbar{


    position:relative;
    z-index: 100;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color:white;
    transition: 1s;
  
   background-color: #0c1a22;

}
.navbar_navigation{

  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 35rem;
    height: 100%;
    position: relative;
  
    
}

.navbar_navigation li{

   text-align: center;
   width: 25%;
   height: 100%;
   text-decoration: dashed;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   transition: 1s;
   
  
}



.nabvar_link{

    text-decoration: dashed;
   color:rgb(255, 255, 255);
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
    
}
.nabvar_link:hover{

background-color: #066ba2;
}

.nav_i{

    
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px rgba(255, 0, 0, 0) solid;
}
.icon_nav{   

   
    font-size: 26px;
    width: auto;
    height: 50%;
    text-align: end;
    margin: 5px;
    line-height: 100vh; 
    border: 1px rgba(255, 0, 0, 0) solid;
}



.logo{
    position: relative;
    width: 350px;
    height: 100%;
    display: flex;
        
}

.logo p{

    position: relative;
    width: 75%;
    height: 100%;
 
    display: flex;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    transform: translateX(-25px);
    
}
.navbar_title{

   

    width: 25%;
    height: 100%;
   background-image: url("../../img/logos-removebg-preview.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
   border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
  
   
}



@media(max-width:850px){

    

    .navbar{

        
        flex-direction: column;
    
    }

    .navbar_navigation{


        width: 100%;
        height: 70%;
        position: relative;
        
        
    }
    .nav_i{

    
  
        font-size: 14px;
     
    }
    .icon_nav{   

   
        font-size: 20px;
    
        
    }
    .logo{
       
        width:100%;
        height: 30%;
      
    }


    .logo p{
        transform: translateX(0px);
        font-size: 10px;
        width: 100%;
        background-color: #242424;
        
    }
    .navbar_title{

   

    
        display: none;
       
    }
    
    
}


@media(max-width:482px){
    .logo{
       
        width:100%;
        height: 30%;
        
    }


    .navbar{

        width: 100vw;
        position: fixed;
    
    }

    .navbar_navigation{


        width: 100%;
        height: 70%;
        position: relative;
        
        
    }
    .nabvar_link{
        flex-direction: column;
    }
    .nav_i{

    
  
        font-size: 12px;
     
    }
    .icon_nav{   

   
        font-size: 14px;
        

       
        
        
    }

}


.contacts{

    position: fixed;
    width: 80px;
    right: 20px;
    left: 0%;
    top: 40vh;
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    gap: 1px;
   

}


.wa{

    background-image: url("../../img/pngtree-whatsapp-mobile-software-icon-png-image_6315991.png");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
 
}



.ig{

    width: 40px;
    height: 40px;
    background-image: url("../../img/61541493-vector-icono-de-la-cámara-roja-sobre-fondo-gris.jpg");
    background-size: cover;
    background-position: center;

}

.gm{

    width: 40px;
    height: 40px;
    background-image: url("../../img/logoLink.avif");
    background-size: cover;
    background-position: center;
}

.gm, .ig, .wa{

    transition: 1s;
    box-shadow: 2px 2px 20px #24242473;

}
.gm:hover, .ig:hover, .wa:hover{

    cursor: pointer;
    transform: scale(1.2);

    box-shadow: 5px 5px 30px #24242473;

}




.pre_container{

   
    width: 80%;
   
    height: 60vh;
    position: relative;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;


    background-color: #0c1a22;

    background-attachment: fixed;
    background-size: cover;
    background-position:bottom;

    padding: 10px;
    border-radius: 0px;

   
    
    transition: 1s;
    box-shadow: 10px 10px 30px rgb(148, 148, 148);

}




.pre1{

     background-position: center;
     position: relative;
     width: 50%;
     height: 100%;
     background-size: cover;
     border-radius: 0px;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 30px;
     z-index: 1;    
     box-shadow: 0px 10px 30px #242424;
    
    object-fit: cover;
}
 
.cont_info{

    width: 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  
    color: #ffffff;
    border-left: 0px;
 
    border-style: solid;
}
.ante{

    font-size: 27px;
    font-weight: 100;
    height: 10%;
    z-index:2;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
 
  
  
}   

.title_info{
   
    height: 75%;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 17px;
    overflow-x: hidden;
    letter-spacing: 1PX;
    color: white;    
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}



.pre1::after{

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 40px;
}




.titulo_presentacion{

    text-align: center;
    width: 600px;
    color: #242424;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight:200;
    margin-bottom: 100px;


}







@media(max-width:1575px){

    .ante{

        font-size: 25px;
      
        height: 20%;
  
        width: 100%;
  
       
      
    }   
    
    .title_info{
       
        height: 80%;
        width: 100%;
        padding: 10px;
     
        
    }
    
}


@media(max-width:1044px){

    .ante{

        font-size: 20px;
    
      
    }   
    
    .title_info{
        
        margin-top: 20px;
        font-size: 14px;
    
        
    }
    
}


.cont_sub_servicio{
    border: 1px red solid;
}
@media(max-width:936px){

    .pre_container{

   
      
   
    
        flex-direction: column;
      
        border-radius: 0px;
    }
    
.cont_info{

    width: 100%;
    height: 65%;

    
   
}
.pre1{

   
    width: 100%;
    height: 35%;
    border-radius: 0px
}   

}

@media(max-width:574px){

    .ante{

        font-size: 17px;
        height: 20%;
        margin-bottom: 10px;
      
    }   
    
    .title_info{
       
        height: 80%;
        width: 100%;

        
    }
    
}
@media(max-width:460px){

    .pre_container{
        padding: 0px;
        width: 100%;
        height: 100vh;
        margin-top: 50px;
    }
    
.cont_info{

    width: 100%;
    height: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    
   
}
.pre1{


    padding: 0px;

   
 
}
.ante{

    font-size: 17px;
    padding: 10px;

  
}   

.title_info{
   
    height: 80%;
    width: 100vw;
    font-size: 10px;
    color: white;    
    
    word-break:break-all;
    
}

}
