.contactanos{

    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-image: url("../img/hombre-trabajador-campo-junto-paneles-solares.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}
.contactanos::after{

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.521);


}

.foot_contact{
 
   
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
   
}


.formulario_peticion{
    
   
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.26), -10px -10px 30px rgba(0, 0, 0, 0.26);
    color: #ffffff;
    padding: 20px;
    border-radius:5px;
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
 
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  
    z-index: 10;
    
 
}




.formulario_peticion .content_input{


    
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}
.formulario_peticion .content_input input{

    width: 100%;
    height: 50px;
    margin-bottom:1px;
   
  
   
}
.formulario_peticion textarea{


    width: 100%;
    height: 40%;
   resize: none;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;

}


.title_foot{

    color: rgb(255, 255, 255);
  
    font-size: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
   margin-bottom: 10px;
}

.btn_contact{
    width: 100%;
    height: 40px;
    padding-top: 1px;
    margin: 0%;
    border: none;
    transition: 1s;
  
}   

.btn_contact:hover{
    
    cursor: pointer;
    background-color: #066ba2;
    color: white;

}



@media(max-width:1165px){

    .title_foot{

   
        font-size: 25px;
        font-weight: 100;
    }

}
@media(max-width:817px){

    .title_foot{

   
        font-size: 25px;
        font-weight: 100;
    }

    .formulario_peticion{
  
      
        width: 400px;
       
    }
    
}
@media(max-width:512px){

    .title_foot{

   
        font-size: 17px;
        font-weight: 100;
    }

    .formulario_peticion{
  
       
        width: 270px;
        height: 300px;
        padding: 10px;
        transform: translateY(-50px);
       
    }

    .formulario_peticion .content_input{

      
        
        width: 100%;
        height: 40%;
    
    
    }
    .formulario_peticion .content_input input{

        width: 100%;
        height: 30px;
        margin: 1px;
       
        
    }
    .formulario_peticion textarea{


        width: 100%;
        height: 40%;
        
    
    }
    
    .btn_contact{
        width: 100%;
        height: 30px;
        padding: 0%;
        margin: 1%;
        border: none;
        transition: 1s;
       
    }   
    .btn_contact:hover{
        width: 100%;
        height: 30px;
        padding: 0%;
        margin: 1%;
        border: none;
        transition: 1s;
       
    }   
}






.pie_pagina{
    z-index: 10;
    min-height: 15%;
    height: auto;
    background-color: #0c1a22;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0%;
}


.pie_pagina ul{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  
}
.pie_pagina ul li{
 
  
    width:  340px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
  
}

.logo_foot{
    background-image: url("../img/logos-removebg-preview.png");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 60px;
}

.logo_text{
    text-align: center;
    border-top: 1px rgb(255, 255, 255) solid;
}

@media(max-width:830px){

    .pie_pagina{
        
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
       
    }
    
    .pie_pagina ul{

        width: 100%;
        height: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
       
       
    }
    .pie_pagina ul li{

        font-size: 13px;
        padding: 5px;
        text-align: start;
        margin-top: 2px;
    }
    .logo_foot{
        display: none;
    }
 
    
}   


.contenedor_error{

    color: #ffffff;
    width: 300px;
    height: 80px;
    margin: 10px;
    position: absolute;
    z-index: 20;
    top: 74%;
    box-shadow: 10px 10px 30px #242424b4;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;
}

@media(max-width: 750px){

    .contenedor_error{

        width: 250px;
        height: 50px;
   
 
    }
    
}
@media(max-width: 750px){

    .contenedor_error{

        width: 180px;
        height: 40px;
     
 
    }
    
}