
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;


      
}

body{
    background-color: #e5e5e5;
    font-family: 'GFS Didot', serif;
    font-family: 'Montserrat', sans-serif;
 
}

.index_header{  

    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    background-image: url("../img/pexels-pok-rie-1188532.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
   
}

.navbar{


    position:fixed;
    z-index: 10;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #242424bb;
    color:white;
    
    transition: 1s;

   
   

}
.navbar_navigation{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 30rem;
   
  
 
    
}

.navbar_navigation li{

 
   text-align: center;
   width: 250px;
   margin: 2%;
   padding: 5px;
   text-decoration: dashed;
   align-items: center;
   font-size: 20px;
   font-weight:bolder;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
   transition: 1s;
}

.navbar_navigation li:hover{

 
   cursor: pointer;
   color: rgb(0, 0, 0);
   box-shadow: 0px -1px 0px 0px #000 inset;
   
  
}

.navbar_title{
    transform: translateX(20px);
   
   
}

.nabvar_link{
    text-decoration: dashed;
   color:white;
}




@media(max-width:780px){

    .navbar_title{

        display: none;
       
    
    }

    .navbar_navigation{

 
        display: none;
    
       
       
        
    }
    
    

}

.contenedor_slider{

 

    transform: translateY(100px);
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;

   
    
}

.carrusel{

    position: absolute;
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

}
.carrusel_content{

    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    
   

}



.car1{

    background-image: url("../img/hombre\ en\ la\ torre.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.car2{

    background-image: url("../img/hombre\ sacando\ foto.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.car3{

    background-image: url("../img/servicios/Imagen\ de\ WhatsApp\ 2023-08-27\ a\ las\ 20.55.39.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  
}


.descripcion{

    
   
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    display: flex;
    align-items: start;
    flex-direction: column;
    transform: translateX(90px);
   
}

.car_title{

    color: #ffffff;
    font-size: 3.2vw;
    font-weight: bolder;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-stretch: expanded;


}

.car_descripcion{
    
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 20px;
    letter-spacing: 1px;
    
    
}


.info{
    background-color: #002e47;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: dashed;
    transition: 1s;
}   
.info:hover{
    background-color: #002e47b7;

}   

.img_container{

    width: 50%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
 
 
}



.punto{

    animation:parpadeo 2s infinite linear;

}
@keyframes anime{

    to{

        background-position-x: 1000px;
    }
}






@keyframes parpadeo {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    
    
   
}

