
body{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
  

    
   
   
}

.cont_general{

    position: relative;
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: row-reverse;
}

.content_main{

    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 100%;

}



.servicio{


   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
    justify-content: center;
    align-items: center;

    transform: translateX(80px);
}

.side{

    background-color: rgba(17, 25, 40, 0.75);
    position: relative;
    height: 100%;
    width: 10%;
   
    z-index: 10;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

   
}

.perfil{
    width: 100%;
    height: 30%;
}
.nav_side{

    width: 100%;
    height: 70%;
}



.main{

 
    position: relative;
    grid-area: "main";
    width: 90%;
    height: 100%;
    display: block;
    
}



.header{

    width: 100%;
    height: 10%;
    position: relative; 
   z-index: 10;
   backdrop-filter: blur(19px) saturate(180%);
   -webkit-backdrop-filter: blur(19px) saturate(180%);
 
   border: 1px solid rgba(255, 255, 255, 0.125);
   background-color: #242424;

}


.form_service{
    

        width: 40%;
        height: 50%;
        position: absolute;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-color: #000000;
        color: rgb(255, 255, 255);
            display: none;
}

.table{
    z-index: 1;
    width: 100%;
    height: 230px;
    padding: 1px;
    box-shadow: 10px 10px 30px rgb(63, 63, 63), -10px -10px 30px aliceblue;
}
.table th{
    width: auto;
    height: 30px;
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(0, 0, 0);
}
.title_table{
    font-size: 25;
    font-family: Arial, Helvetica, sans-serif;
}
.tabla_cont{

    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
   
    
  
}


.cerrar{
    
    width: 120px;
   


}
.act_servicio{
    cursor: pointer;
    width: 70px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 0px;
}
.act_servicio:hover{
    
    color: blue;
}
.cerrar:hover{
    
    cursor: pointer;
    color: red;


}
.form_service input{

    width: 90%;
    height: 30px;
 
 
      
}
.form_service h1{

    width: 100%;
    height: 10%;
    margin: 10px;
    font-size: 30px;
    text-align:center;

      
}
.form_service label{

    width: 90%;
    height: 20px;

 
}
.form_service div{

    width: 100%;
    height: 90%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
}

.form_service textarea{

    width: 90%;
    height: 50px;
    margin: 10px;
      
}
.form_service button{

    width: 90%;
    height: 30px;
    margin: 10px;
      
}


.usuarios{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    width: 100%;
    height: 100%;    
    transform: translateX(80px);   
   
}

.contenedor_usuario{

   
    width: 90% ;
    min-height: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px #24242491;
    position: relative;
;
    
}
.cont_btn12{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    transform: translateY(-10px);

}
.tabla_user{
    
    height: 40px;
    max-height: 100px;
    border: 1px rgb(0, 0, 0) solid;
    width: 80%;
   
   
    
    
}
.tabla_user tr{
    
    font-size: 19px;
    text-align: center;
    display: flex;
    
}
.tabla_user td{
    border: 1px rgb(0, 0, 0) solid;
    position: relative;
    width: 16.6%;
    height: 30px;
    font-size: 16px;
    display: block;
   
}
.form_usuario{


    width: 800px;
    height: 360px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: #000000;
    color: white;
    z-index: 10;
    
    display: none;
 
}   
.bt12:hover{
    cursor: pointer;
    color: orangered;
}
.cont_btn12 button:hover{
    cursor: pointer;
    color: blue;
}
.form_usuario div{
 
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}

.int1{
 
    width: 95%;
    height: 30px;
    margin: 2px;
    


}
.btt1{
    margin: 2px;
    width: 96%;
    height:35px;
}
.form_usuario h1{
    text-align: center;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;

}
