
.navbar{


    position:fixed;
    z-index: 100;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color:white;
    transition: 1s;

   

}
.navbar_navigation{

  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 35rem;
    height: 100%;
    position: relative;
   
    
}

.navbar_navigation li{

   text-align: center;
   width: 25%;
   height: 100%;
   text-decoration: dashed;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   transition: 1s;

  
}



.nabvar_link{

    text-decoration: dashed;
   color:rgb(255, 255, 255);
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
    
}
.nabvar_link:hover{

background-color: #066ba2;
}

.nav_i{

    
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px rgba(255, 0, 0, 0) solid;
}
.las{   

   
    font-size: 26px;
    width: auto;
    height: 50%;
    text-align: end;
    margin: 5px;
    line-height: 100vh; 
    border: 1px rgba(255, 0, 0, 0) solid;
}



.logo{
    position: relative;
    width: 230px;
    height: 100%;
    display: flex;
    
}

.logo p{

    position: relative;
    width: 60%;
    height: 100%;
 
    display: flex;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;

    
}
.navbar_title{

   

    width: 40%;
    height: 100%;
   background-image: url("../img/logos-removebg-preview.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
   border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  
   
}



@media(max-width:850px){

    

    .navbar{

        
        flex-direction: column;
    
    }

    .navbar_navigation{


        width: 100%;
        height: 70%;
        position: relative;
        
        
    }
    .nav_i{

    
  
        font-size: 14px;
     
    }
    .las{   

   
        font-size: 20px;
    
        
    }
    .logo{
       
        width:100%;
        height: 30%;
      
    }


    .logo p{

       
        width: 100%;
        
        background-color: #242424;
        
    }
    .navbar_title{

   

    
        display: none;
       
    }
    
    
}


@media(max-width:482px){

    .navbar{

        width: 100vw;
        position: fixed;
    
    }

    .navbar_navigation{


        width: 100%;
        height: 70%;
        position: relative;
        
        
    }
    .nav_i{

    
  
        font-size: 12px;
     
    }
    .las{   

   
        font-size: 14px;
        
        display: flex;
        align-items: center;
        justify-content: center;
       
        
        
    }

}

@media(max-width:400px){

    .navbar{

        width: 100vw;
        position: fixed;
    
    }

    .navbar_navigation{


        width: 100%;
        height: 70%;
        position: relative;
        
        
    }
    .nabvar_link{
        flex-direction: column;
    }
    .nav_i{

    
  
        font-size: 12px;
        
    }
    .las{   

        
        font-size: 12px;
     
        display: flex;
        align-items: center;
        justify-content: center;
       display: none;
        
        
    }

}