
.navbar{

   
    position:fixed;
    z-index: 100;
    width: 100vw;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content:center;
    color:#0b2f42;
    transform: translateY(53px);
    background-color: #ffffff;


}
.ss{
    background-color: #ffffff;
    border-bottom: 1px rgba(0, 0, 0, 0.137) solid;
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 14px;
    position: absolute;
}
.pp{
    display: none;
}
.navbar_navigation{

  
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    list-style: none;
    width: 50%;
    height: 100%;
    position: relative;
   
   
}

.navbar_navigation li{
   
   text-align: center;
   width: 100px;
   height: 100%;
   text-decoration: dashed;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color:#0b2f42;
   transition: 1s;
   


}




.nabvar_link{

    text-decoration: dashed;
    color:#0b2f42;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}
.nabvar_link:hover{

    color: #149ee9;
}

.nav_i{

    
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
  
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Young Serif', serif;
    font-weight: 100;
}
.icon_nav{   

   
    font-size: 25px;
    
  
    width: auto;
   
    text-align: end;
    margin: 5px;
    line-height: 100vh; 
 
   
}



.logo{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 10px;
    justify-content: end;
    align-items: center;
    
}

.llogo{

        
    width: 120px;
    height: 50px;
    background-image: url("../img/LOGO.png");
    background-size: cover;
  
}
.logo p{

    position: relative;
    width: 45%;
    height: 100%;
   
    color:#000000;
    display: flex;
    font-size: 24px;
    display: flex;
    justify-content:start;
    margin-left: 10px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Young Serif', serif;
    font-weight: 100;
  
  
}
.navbar_title{

   
   
    width: 25%;
    height: 100%;
   background-image: url("../img/logos.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
   border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  
   
}



@media(max-width: 1000px){
    .logo{
        
        width: 40%;
        padding: 5px;
     
    }

    .llogo{

        
        width: 100px;
        height: 50px;
        
      
    }
    .logo p{
    

        width: 45%;
        height: 100%;
       
  
        font-size: 17px;
     
      
    }

    .nav_i{


        font-size: 17px;
       
    }
}

@media(max-width: 600px){
    .logo{
        
        width: 40%;
        padding: 5px;
     display: none;
    }
    .navbar_navigation{

  
        justify-content: center;
        width: 100%;
        height: 100%;
    
       
       
    }
  
    .pp{
        display: block;
        font-family: Arial, Helvetica, sans-serif;
    }
    .tt{
        display: none;
    }
    .navbar_navigation li{
   
   
        width: 90px;
        height: 100%;
   
     
       
     }
     
    

}
@media(max-width: 385px){
    .nav_i{


        font-size: 11px;
        margin: 2px;
        text-shadow: 0px 1px 1px #242424;
       
    }
    .navbar_navigation li{
   
   
        width: 60px;
        height: 100%;
   
        
       
     }

   

}