.quienes_somos{
   
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    
    
 
}

.perfil{

 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}




.descrip1{

   
    grid-area: des1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 33.33%;
    height: auto;
    position: relative;
        color: aliceblue;
        
    background-image: url("../img/pexels-pixabay-159397.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

.title{
  

    padding: 9px;
    margin: 5px;
    z-index: 1;

    font-size: 27px;
    
}
.descrip{
    padding: 10px;
    margin: 5px;
    
    font-size: 18px;
  z-index: 1;
}


.descrip2{
    position: relative;
    grid-area: des2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33.33%;
 
    color: #000000;
   
}
.descrip1::after, .descrip3::after{

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.541);
}
.descrip3{

    position: relative;
    grid-area: des2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    height: 33.33%;
  align-items: center;
   
  
  background-image: url("../img/pexels-trinh-trần-11645003.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


@media(max-width:1168px){

    .title{
  

        padding: 9px;
        margin: 5px;
 
    
        font-size: 20px;
        
    }
    .descrip{
        padding: 10px;
        margin: 5px;
        font-size: 15px;
     
    }


}
@media(max-width:624px){

    .title{
  

        padding: 9px;
        margin: 5px;
      
    
        font-size: 17px;
        
    }
    .descrip{
        padding: 10px;
        margin: 5px;
        font-size: 10px;
    
    }


}