.servicios{
    
    position: relative;
    width: 100%;
    min-height: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    border: 1px #e5e5e5 solid;
    background-size: cover;
  
    margin-bottom: 60px;
     
}


.services_title{

    
    margin: 30px;
    transform: translateY(-50px);
}

.title_ser{

    color: black;
    font-size: 3rem;
}


.descrip_ser{
    font-size: 1rem;
}
.contenedor_menu{


    width: 30%;
    height: 50px;
    position: relative;
    transform: translateY(-30px);
    min-width: 300px;
   
}
.menu{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    box-shadow: -10px -10px 30px #e5e5e5, 10px 10px 30px rgb(156, 145, 145);
   
    border-radius: 30px;
}


.menu li{

    display: block;
    width: 33.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
   
}
.menu li:hover{

    background-color: #5a5454;
    color: white;

}

.opcion_servicio1{

    border-radius: 30px 0px 0px 30px;

}
.opcion_servicio3{

    border-radius: 0px 30px 30px 0px;

}

.menu :hover{

    cursor: pointer;
  
}



.contenedor_servicios{

    width: 70%;
    height: auto;
    border-radius: 20px;
    justify-content: center;
 
    align-items: center;
   
}

.servicio{
    
   width: 100%;
   height:auto; 
   border-radius: 20px;
   display: flex;
   flex-direction: row;  
   flex-wrap: wrap;        
   justify-content: center;
   gap: 5px 5px;
   
 
}



.ser2{

    display: none;
   
}
.ser3{
    
    display: none;
}



.cont_card{

    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 500px;
    height: 300px;
    margin: 5px;
  
    overflow: hidden;

  
}


.cont_card1{

 
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 450px;
    height: 300px;
    margin: 4px;
    z-index: 1;
   
}
.cont_card2{

 
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 450px;
    height: 300px;
    margin: 4px;
    overflow: hidden;
}







.descript{

    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5a5454b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    top: 100%;
   
}

.cont_card:hover .descript{

    top: 0%;

}
.cont_card1:hover .descript{

    top: 0%;

}
.cont_card2:hover .descript{

    top: 0%;

}

.title_card{

    color: #e5e5e5;
    margin: 10px;
    text-align:  center;
    
}

.info_ser{

    border-radius: 10px;
    text-align: center;
    width: 150px;
    padding: 10px;
    text-decoration: dashed;
    color: #e5e5e5;
    
}

.info_ser:hover{
   
    color: #ffffff;
    background-color: #968888;
}


.card1{
  
  
    background-size: cover;
    background-position: center;
        border: 1px #242424 solid;
}

.card2{
  
  
    background-size: cover;
    background-position: center;
        border: 1px #242424 solid;
}

.card3{
  
  
    background-size: cover;
    background-position: center;
        border: 1px #242424 solid;
}



@media(max-width:929px){


    .title_ser{

        position: relative;
        font-size: 1.7rem;
        
    }

    .descrip_ser{
        font-size: 0.5rem;
    }

    .descript{

        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #5a545400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
        top: 0%;
        color: #242424;
        background-color: #5a545457;
    }

    .title_card{

        color: #ffffff;
        margin: 10px;
        text-align:  center;
        
    }
    
    .info_ser{
    
        border-radius: 10px;
        text-align: center;
        width: 150px;
        padding: 10px;
        text-decoration: dashed;
        color: #ffffff;
        
    }
    

    
    .servicios{
    
        
        margin-bottom: 40px;
        
        
    }
    
    
    
}
@media(max-width:445px){


    .title_ser{

        position: relative;
        font-size: 1rem;
    }
    
}
